<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Problems | LeetCode OJ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="LeetCode Online Judge is a platform for preparing technical coding interviews and assessing your knowledge of data structures and algorithms. Pick from our expanding library of more than 160 interview questions to solve. Use our automated tool to get real time feedback on your solution." />
    <meta property="og:title" content="" />
    <meta property="og:image" content="https://oj.leetcode.com/images/logolarge.jpg" />
    <meta property="og:description" content="LeetCode Online Judge is a platform for preparing technical coding interviews and assessing your knowledge of data structures and algorithms. Pick from our expanding library of more than 160 interview questions to solve. Use our automated tool to get real time feedback on your solution." />
    <meta name="application-name" content="LeetCode Online Judge"/>
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-TileImage" content="/mstile-144x144.png" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://oj.leetcode.com/static/animate/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/CACHE/css/aa0598c0b49c.css" type="text/css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="https://oj.leetcode.com/static/jquery/jquery-1.11.1.min.js"><\/script>')</script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.3.0/bootstrap-table.min.js"/>
    <link rel="stylesheet" src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.3.0/bootstrap-table.min.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="question-title">
                <h3 style="display:inline">{{title}}</h3>
                <span class="total-ac text-info">Total Accepted: <strong>50332</strong></span>
                <span class="total-submit text-info">Total Submissions: <strong>347064</strong></span>
                <a class="pull-right btn btn-default" href="/problems/reverse-words-in-a-string/submissions/">My Submissions</a>



            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="question-content">
                        {{content}}
                    </div>
                </div>
            </div>
        </div>
    </div>




    <p class="action">
        <a class="btn btn-success btn-pad" href="/discuss/questions/oj/reverse-words-in-a-string">Discuss</a>
    </p>

    <hr>
</div>
</body>
</html>
